<div class="element-bg-img">
  <img [src]="selectedAttr.img" alt="" class="img-responsive" />
</div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li
        *ngFor="let type of (attractions | uniquetype); last as last"
        [ngClass]="{ 'anc-bor': last }"
      >
        <a (click)="setType(type); currentType = type"  style="cursor: pointer;">{{ type | titlecase }}</a>
      </li>
    </ul>
  </div>
  <div class="village">
    <h3>Righteous indignation & like</h3>
    <span class="line"> </span>
    <app-attractions-list
      [currentType]="currentType"
      [attractions]="attractions"
      (attrSelected)="selectAttr($event)"
    ></app-attractions-list>
  </div>
</div>
